:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Start Component */
.d-flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-col {
  flex-direction: column;
}
@media (max-width: 767px) {
  .col-mobile {
    flex-direction: column;
  }
}
.f-1 {
  flex: 1;
}
.f-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
.d-block {
  display: block;
}
/* Start Component */
/* Start Box */
/* End Box */
/* Start Width */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-fit {
  width: fit-content;
}
.w-40 {
  width: 40px;
}
.w-100 {
  width: 100px;
}
.h-150 {
  height: 150px;
}
.h-40 {
  height: 40px;
}
/* End Width */
/* Start Padding + Margin */
.p-0 {
  padding: 0;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-5 {
  padding: 5px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.m-20 {
  margin: 20px;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.m-20 {
  margin: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.m-auto {
  margin: 0 auto;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-eee {
  background-color: #eee;
}
.bg-ddd {
  background-color: #ddd;
}
.bg-grey50 {
  background-color: rgb(136 136 136 / 20%);
}
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Position */
/* Start Fonts */
.text-c {
  text-align: center;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-15 {
  font-size: 15px;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .text-c-mobile {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .m-10-mobile {
    margin-bottom: 10px;
  }
}
.f-mono {
  font-family: monospace;
}
.no-resize {
  resize: none;
}
.cur-point {
  cursor: pointer;
}
/* End Fonts */
/* Start Border */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.border-ddd {
  border: 1px solid #ddd;
}
.bord-top-ddd {
  border-top: 1px solid #dddd;
}
.bord-bottom-ddd {
  border-bottom: 1px solid #dddd;
}
.bord-none {
  border: none;
}
/* End Border */
/* Start Components */
.btn-shape {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  font-size: 13px;
}

.input {
  background-color: #eee;
  padding: 10px;
  font-size: 12px;
  font-family: monospace;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* End Components */
